__pycache__/
*.pyc
*.py[cod]
*.egg-info/
.env
*.env
venv/
.vscode/
.ipynb_checkpoints/
.DS_Store
*.log
.ipynb_checkpoints/
*.csv
*.tsv
*.h5
*.pkl
*.npy
*.npz
output/
data/
dist/
build/
.ruff_cache/
chromdyn/_version.py